input[type=text]{

    padding: 8px 20px;
    box-sizing: border-box;
    border: 3px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus{
    border: 3px solid #555;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 100px;
    box-shadow: 1px 1px 1px grey;
}

.search-container{
    /*margin-right : 100px;*/
}
