#signup-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBD3C9;
    padding: 30px 10px 10px;
}

.signup-field{
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 3px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#special-email-container{
    display: flex;
    /*position: relative;*/
    /*right: 20px;*/
    width: 340px;
}

#email-field{
    width: 250px;
    margin-right: 10px;
}

#info-button-email{
    position: relative;
    left: 20px;
}

#signup-button{
    background-color: #1CB5CD;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

#login-suggestion{
    display: flex;
    background-color: #DBD3C9;
    justify-content:  center;
    width: 100%;
    margin-top: 10px;
    font-size: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}